<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
  <div class="logo">
    <img src="/assets/manage/u4.png"/>
    <div class="title">
      <p style="font-size: 20px; margin-bottom: 0px;">奇妙海岛</p>
      <p>管理平台</p>
    </div>
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
    <li nz-menu-item [nzSelected]="true">
      <span class="nav-text">资源管理</span>
    </li>
  </ul>
  </nz-sider>
  <nz-layout style="margin-left: 200px;">
    <nz-header style="background: #fff; padding:0;"></nz-header>
    <nz-content style="margin:24px 16px 0;overflow: hidden;">
      <div style="padding: 24px; background: #fff; text-align: left; bottom: 10px; ">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [(nzSelectedIndex)]="activeTab" (nzSelectChange)="selectChange()">
          <nz-tab nzTitle="新增题库">
            <form nz-form style="text-align: center; width: 800px;">
              <!-- <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="questionsId">题库编号</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <input nz-input (blur)="isQuestionExisted()" [ngModelOptions]="{standalone: true}" id="questionsId" placeholder="题库编号不能重复.." [(ngModel)]="question.questionsId">
                </nz-form-control>
              </nz-form-item> -->

              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="qForApp">题库app</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <nz-select [ngModelOptions]="{standalone: true}" id="qForApp" (ngModelChange)="appTypeChange()"
                  [(ngModel)]="question.qForApp" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option nzValue="wulong" nzLabel="舞龙达人"></nz-option>
                  </nz-select>

                  <!-- <input nz-input [ngModelOptions]="{standalone: true}" id="qForApp" placeholder="请填写该题库属于的app" [(ngModel)]="question.qForApp"> -->
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="question.qType">
                <nz-form-label [nzSpan]="5" nzFor="qType">题库类型</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <nz-select [ngModelOptions]="{standalone: true}" id="qType" [(ngModel)]="question.qType" nzPlaceHolder="Choose">
                    <nz-option nzValue="type1" nzLabel="类型1"></nz-option>
                    <nz-option nzValue="type2" nzLabel="类型2"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="levelPackageId">题库ID(苹果ID)</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <input nz-input (blur)="isQuestionExisted()" [ngModelOptions]="{standalone: true}" id="levelPackageId" placeholder="请填写该题库在appstroe上的商品id.." [(ngModel)]="question.levelPackageId">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="questionTitle">题库标题</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <input nz-input (ngModelChange)="modelChange()" [ngModelOptions]="{standalone: true}" id="questionTitle" placeholder="请填写题库标题.." [(ngModel)]="question.questionTitle">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="questionDes">题库描述</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <textarea (ngModelChange)="modelChange()" nz-input rows="4" id="questionDes" placeholder="请填写题库描述.."
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="question.questionDes"></textarea>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="qUrl">上传题库资源</nz-form-label>
                <nz-form-control [nzSpan]="15">
                  <nz-upload
                    [(nzFileList)]="fileList"
                    [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i nz-icon type="upload"></i><span>Select File</span>
                    </button>
                  </nz-upload>
                  <span *ngIf="question.qUrl"> 已关联题库文件: {{ question.qUrl && question.qUrl.split("uploads/")[1] }} </span>
                </nz-form-control>
              </nz-form-item >
              
              <nz-form-item>
                <button nz-button nzType="primary" [nzLoading]="uploading" (click)="handleSubmit()" [disabled]="cannotSubmit">提交</button>
                <button nz-button nzType="primary" *ngIf="isEdit" (click)="showModal('确定放弃编辑该题库？', 'cancel-edit')" style="margin-left: 20px;">放弃编辑</button>
              </nz-form-item>
            </form>
          </nz-tab>
          <nz-tab nzTitle="题库列表">  
            <nz-tabset (nzSelectedIndexChange)="subSelectChange($event)">
              <nz-tab nzTitle="奇妙海岛"></nz-tab>
              <nz-tab nzTitle="舞龙达人"></nz-tab>
            </nz-tabset>

            <div style="overflow-x: auto;">
              <nz-table #basicTable [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
              [nzData]="questionList">
                <thead>
                <tr>
                  <!-- <th style="width: 100px">题库编号</th> -->
                  <th style="width: 120px">题库商品ID</th>
                  <th *ngIf="fromApp == 'wulong'" style="width: 120px">题库类型</th>
                  <th style="width: 150px">题库标题</th>
                  <th>题库描述</th>
                  <th style="width: 150px">更新时间</th>
                  <th style="width: 220px">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <!-- <td>{{data.questionsId}}</td> -->
                  <td>{{data.levelPackageId}}</td>
                  <td *ngIf="fromApp == 'wulong'">{{data.qType}}</td>
                  <td>{{data.questionTitle}}</td>
                  <td>{{data.questionDes}}</td>
                  <td>{{data.updatedAt | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                  <td>
                      <button nz-button nzType="default" (click)="editQuestion(data._id)">编辑</button>
                      <button nz-button nzType="danger" (click)="deleteQuestion(data._id)">删除</button>
                      <a href="{{ data.qUrl }}" download="{{ data.qUrl.replace('uploads/', '') }}">下载题库</a>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;"></nz-footer>
  </nz-layout>
</nz-layout>
<nz-modal [(nzVisible)]="ismodalVisible" nzTitle="提示" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>{{ tips }}</p>
</nz-modal>